/* kontenFooter */
.kontenFooter .itemFooter1 {
    padding-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
}

.itemFooter1 .AboutUs {
    margin-top: 50px;
    color: #fff;
}

.AboutUs > h3 {
    font-size: 25px;
    font-weight: 500;
}
.AboutUs > p {
    margin-top: 25px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 25px;
}

.AboutUs .socialIcon {
    display: flex;
    margin-top: 35px;
}

.hoverIcon a i:hover {
    color: rgb(97, 97, 240);
}

.socialIcon .fb a {
    font-size: 15px;
    background: rgb(8, 8, 170);
    color: #fff;
    padding: 7px 12px;
    border-radius: 99px;
    margin-left: 0px;
}
.socialIcon .twet a {
    font-size: 15px;
    background: rgb(85, 149, 232);
    color: #fff;
    padding: 7px 9px;
    border-radius: 99px;
    margin-left: 7px;
}
.socialIcon .yt a {
    font-size: 15px;
    background: rgb(231, 76, 76);
    color: #fff;
    padding: 7px 8px;
    border-radius: 99px;
    margin-left: 7px;
}
.socialIcon .ig a {
    font-size: 15px;
    background: rgb(122, 66, 243);
    color: #fff;
    padding: 7px 9px;
    border-radius: 99px;
    margin-left: 7px;
}
.socialIcon .gPlus a {
    font-size: 15px;
    background: rgb(251, 119, 119);
    color: #fff;
    padding: 7px 7px;
    border-radius: 99px;
    margin-left: 7px;
}

.itemFooter1 .tags {
    margin-top: 90px;
    color: #fff;
    position: relative;
}
.tags > h3 {
    font-size: 25px;
    font-weight: 500;
}

.itemTags {
    margin-top: 25px;
    /* width:300px ; */
}
.itemTags > p {
    line-height: 50px;
}

.itemTags > p span a {
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border: 1px solid rgb(167, 167, 167);
    margin: 2px;
}
.itemTags > p span a:hover {
    background: blue;
}
.contact {
    margin-top: 90px;
    color: #fff;
}
.contact h3 {
    font-size: 25px;
    font-weight: 500;
}

.contact .alamat {
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.contact .alamat p {
    font-size: 17px;
    font-weight: 300;
    margin-left: 15px;
    margin-top: 15px;
}

.contact .noHp {
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.contact .noHp p {
    font-size: 17px;
    font-weight: 300;
    margin-left: 15px;
}

.contact .email {
    display: flex;
    align-items: center;
}
.email .detailEmail {
    line-height: 25px;
    margin-top: 24px;
}
.email .detailEmail p {
    font-size: 17px;
    font-weight: 300;
    margin-left: 15px;
}

.newsFooter {
    margin-top: 80px;
    padding-bottom: 70px;
    color: #fff;
}
.newsFooter h3 {
    font-size: 25px;
    font-weight: 500;
}

.cardNewsFooter {
    margin-top: 25px;
    display: flex;
}

.cardNewsFooter .imgcardNewsFooter {
    width: 81px;
    height: 66px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
}
.imgcardNewsFooter img {
    width: 100%;
    height: 100%;
    transition: all 1s;
}
.imgcardNewsFooter img:hover {
    transform: scale(1.1);
}

.descCardNewsFooter {
    margin-left: 9px;
}
.descCardNewsFooter .tglImgNewsFooter {
    display: flex;
    align-items: center;
    font-size: 13px;
}
.tglImgNewsFooter > p {
    margin-left: 7px;
    font-size: 15px;
}

.descCardNewsFooter > h3 {
    font-size: 13px;
    font-weight: 300;
    line-height: 21px;
    margin-top: 6px;
}

.itemFooter2 .listItemFooter2 {
    position: relative;
    padding-bottom: 26px;
    padding-left: 15px;
    padding-right: 19px;
}
.listItemFooter2 > p {
    text-align: center;
    line-height: 29px;
}
.listItemFooter2 > p span {
    color: #fff;
}
.listItemFooter2 > p span a {
    text-decoration: none;
    color: #fff;
    padding: 5px 9px;
}
.listItemFooter2 > p span a:hover {
    color: blue;
}

.itemFooter2 .copyRight {
    text-align: center;
    color: #fff;
    padding-bottom: 14px;
}
.copyRight small {
    font-size: 16px;
    font-weight: 100;
}

/* responsife footer*/
@media screen and (min-width: 768px) {
    .kontenFooter .itemFooter1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 30px;
    }

    .itemFooter1 .AboutUs {
        margin-left: 15px;
    }

    .itemFooter1 .tags {
        margin-left: 15px;
        margin-top: 50px;
    }

    .itemFooter1 .contact {
        margin-top: 80px;
        color: #fff;
        margin-left: 15px;
    }

    .itemFooter1 .newsFooter {
        margin-left: 15px;
    }

    .itemFooter2 .listItemFooter2 {
        position: relative;
        padding-left: 0px;
        padding-bottom: 25px;
        padding-right: 31px;
    }
}

@media screen and (min-width: 1024px) {
    .kontenFooter .itemFooter1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0px 30px 50px;
        padding-bottom: 90px;
        padding-top: 0px;
    }
    .itemFooter1 .AboutUs {
        margin-top: 80px;
    }
    .itemFooter1 .AboutUs p {
        font-size: 14px;
        font-weight: 300;
    }

    .itemFooter1 .tags {
        margin-top: 80px;
    }
    .itemTags > p span a {
        padding: 9px 15px;
    }

    .itemFooter1 .contact {
        margin-top: 80px;
        color: #fff;
        margin-left: 15px;
    }

    .itemFooter2 .listItemFooter2 {
        position: relative;
        padding-left: 0px;
        padding-bottom: 36px;
    }

    .itemFooter2 .copyRight {
        text-align: center;
        color: #fff;
        padding-bottom: 32px;
    }
}

/* responsife laptop kita */
@media screen and (min-width: 1366px) {
    .kontenFooter .itemFooter1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0px 105px 30px;
        padding-bottom: 65px;
    }
    .itemFooter1 .AboutUs {
        margin-top: 80px;
    }
    .itemFooter1 .AboutUs p {
        font-size: 14px;
        font-weight: 300;
    }

    .itemFooter1 .tags {
        margin-top: 80px;
    }
    .itemTags > p span a {
        padding: 9px 23px;
    }
    .itemFooter1 .contact {
        margin-top: 80px;
        color: #fff;
        margin-left: 15px;
    }

    .itemFooter2 .listItemFooter2 {
        position: relative;
        padding-left: 0px;
        padding-bottom: 16px;
    }

    .itemFooter2 .copyRight {
        text-align: center;
        color: #fff;
        padding-bottom: 32px;
    }
}

/* responsife for full hd */
@media screen and (min-width: 1920px) {
    .kontenFooter .itemFooter1 {
        padding: 88px 140px;
        margin: 0px 0px 30px;
    }
    .itemFooter1 .AboutUs h3 {
        font-size: 30px;
    }
    .itemFooter1 .AboutUs p {
        font-size: 21px;
        font-weight: 300;
    }

    .itemFooter1 .tags h3 {
        font-size: 30px;
    }
    .itemTags {
        margin-top: 35px;
    }
   

    .itemFooter1 .contact h3 {
        font-size: 30px;
    }
    .contact .alamat p {
        font-size: 21px;
        font-weight: 300;
    }
    .contact .noHp p {
        font-size: 21px;
        font-weight: 300;
    }
    .contact .email p {
        font-size: 21px;
        font-weight: 300;
    }

    .itemFooter1 .newsFooter > h3 {
        font-size: 30px;
    }
    .cardNewsFooter .imgcardNewsFooter {
        width: 123px;
        height: 88px;
    }
    .descCardNewsFooter {
        margin-left: 12px;
    }
    .descCardNewsFooter .tglImgNewsFooter {
        font-size: 15px;
    }
    .tglImgNewsFooter > p {
        margin-left: 7px;
        font-size: 17px;
    }
    .descCardNewsFooter > h3 {
        font-size: 18px;
        margin-right: 32px;
        font-weight: 500;
        line-height: 28px;
    }

    .itemFooter2 .listItemFooter2 {
        position: relative;
        padding-left: 695px;
        padding-bottom: 36px;
    }
    .itemFooter2 .copyRight {
        text-align: center;
        color: #fff;
        padding-bottom: 32px;
    }
}
