@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,500,600,700,800display=swap");

/*
"Rubik", sans-serif;
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* max-width: 320px; */
    margin-inline: auto;
    background-color: #e0e0e0;
    min-height: 100vh;
    height: auto;
}
.root {
    background-color: #fff;
    min-height: 100vh;
    height: auto;
    background: rgb(28, 28, 74);
    font-family: "Rubik", sans-serif;
}
