@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,500,600,700,800display=swap");

/*
"Rubik", sans-serif;
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* max-width: 320px; */
    margin-inline: auto;
    background-color: #e0e0e0;
    min-height: 100vh;
    height: auto;
}
.root {
    background-color: #fff;
    min-height: 100vh;
    height: auto;
    background: rgb(28, 28, 74);
    font-family: "Rubik", sans-serif;
}

.root .up {
    background: blue;
    padding: 9px;
    position: fixed;
    z-index: 2;
    margin-left: 261px;
    margin-top: 592px;
}
.up a {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .root .up {
        padding: 19px;
        margin-left: 671px;
        margin-top:739px;
    }
}

@media screen and (min-width: 1024px){
    .root .up {
        margin-left: 917px;
        margin-top:590px;
    }
}
@media screen and (min-width: 1366px){
    .root .up {
        margin-left: 1274px;
        margin-top:570px;
    }
}
@media screen and (min-width: 1920px){
    .root .up {
        padding: 25px;
        margin-left: 1804px;
        margin-top:90px;
    }
    .up a{
        font-size: 24px;
        font-weight: 400;
    }
}